<li class="user">
  {{#if model.name}}{{model.name}}{{else}}Set User Name{{/if}}
  <div class="btn btn-xs {{if model.filter 'btn-primary' 'btn-default'}}" {{action 'filter' model}}><i class="fa fa-filter"></i></div>
  {{#link-to 'user' model class="btn btn-default btn-xs"}}<i class="fa fa-wrench"></i>{{/link-to}}
  <ul>
    {{#each accounts as |account|}}
      <li class="account">{{account.name}}
      <div class="btn btn-xs {{if account.filter 'btn-primary' 'btn-default'}}" {{action 'filter' account}}><i class="fa fa-filter"></i></div>
      {{#link-to 'account.edit' account.id class="btn btn-default btn-xs"}}<i class="fa fa-wrench"></i>{{/link-to}}</li>
    {{/each}}
    <li>{{#link-to 'account.new' model.id}}<i class="fa fa-plus"></i> New Account{{/link-to}}</li>
  </ul>
</li>
